.aboutContainer {
  display: flex;
  padding-top: 100px;
  height: fit-content;
  width: 100vw;
  justify-content: center;
  max-width: 100%;
}



.about {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
}
.gitImg {
    width: 400px;
    height: 473.99px;
    order: 1;
  }

.bold {
  font-size: 1.5rem;
  color: #d6aa32;
  font-weight: 700;
}

.underlined {
  text-decoration: none;
  width: fit-content;
  background-image: linear-gradient(#d6aa32, #d6aa32);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 3px;
  transition: background-size 500ms ease-in-out;
}

.underlined:hover {
  background-size: 100% 3px;
  color: #d6aa32;
}

.list li {
  list-style-type: none;
  margin-bottom: 10px;
}
.list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.bolded {
  color: #d6aa32;
  font-size: 2em;
}

.h2style {
  font-size: 4em !important;
  color: #ffff !important;
  width: fit-content;
  margin-top: 0px;
}

.text {
  font-family: "Courier New", Courier, monospace;
  color: #ffdf88;
  font-size: 1.5em;
}

.aboutInfo {
  width: 40vw;
}
.abText {
  color: #ffdf88;
  font-size: 1.5em;
  margin-bottom: 50px;
  text-align: left;
}
.projectsTitle {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.projectsContainer {
  display: flex;
  margin: auto;
  padding-top:150px ;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  max-width: 100%;
}

.projectImg {
  height: 525px;
  width: 900px;
}
.projectsText {
  width: 35vw;
}
.projectsBox {
  display: flex;
  background-color: #141b1f;
  position: relative;
  right: 5vw;
  flex-direction: column;
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.projectInfo {
  width: fit-content;
  margin-left: 10px;
}
.linkImgs {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 5vw;
}
.linkImgsRight {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 5vw;
}

.projects {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}

.projectsTextRight {
  width: 35vw;
}

.projectsTextRight h3 {
    left: 5vw;
}
.projectsBoxRight {
  display: flex;
  background-color: #141b1f;
  position: relative;
  left: 5vw;
  flex-direction: column;
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.gitLink {
  width: 40px;
  height: 42px;
  margin: auto 0 auto 0
}

.contactContainer {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: fit-content;
    margin: 100px auto auto auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin: auto;
justify-content: center;
}
.superContainer {
    width: 100vw;
    display: flex;
    max-width: 100%;
    height: auto;
    background-color: #141b1f;
}



@media only screen and (max-width: 1400px) {
  .aboutContainer {
    height: fit-content;
    flex-direction: column;
    margin-top: 100px;
    max-width: 100%;
  }
  .list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
  .h2style {
    margin: 0px;
  }

  .abText {
    margin: auto auto 45px auto;
  }

  .aboutInfo {
    width: 80vw;
    margin: auto;
  }

  .gitImg {
    width: 275px;
    height: 325.87px;
    margin: auto;
    max-width: 100%;
  }

  .projectsTitle{
    flex-direction: column;
    margin-top: 30px;
  }
  .gitLink{
    margin: auto;
  }

  .projectImg{
    width: 300px;
    height: 175px;
    margin: auto;
  }
  .projects {
    flex-direction: column;
    max-width: 99%;
  }

  .projectsText {
    width: 90vw;
    margin: auto;
  }
 
  .projectsTextRight {
    width: 90vw;
    margin: auto;
    order: 2;
  }

  .projectsBoxRight {
    left: 0vw;
  }
  
  .projectsBox {
    right: 0vw;
  }

  .linkImgsRight {
    left: 0vw;
  }
  .projectsTextRight h3 {
    left: 0vw;
}
.contactContainer {
    width: 80vw;
    margin:  auto  auto;
}
}
