.aboutContainer {
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
  margin-top: 300px;
}

.gitImg {
  width: 400p;
  height: 473.99px;
}

.bold {
  font-size: 1.5rem;
  color: #d6aa32;
  font-weight: 700;
}

.underlined {
    display: inline-block;
    position: relative;
    color: #D6AA32;
    height: fit-content;
    text-decoration: none;
    margin: auto 30px auto 0;
}

.underlined:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D6AA32;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.underlined:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

}

.list li {
  list-style-type: none;
  margin-bottom: 10px;
}
.list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.bolded {
  color: #d6aa32;
  font-size: 2em;
}

.h2style {
  font-size: 4em !important;
  color: #ffff !important;
  width: fit-content;
  margin-top: 0px;
}

.text {
  font-family: "Courier New", Courier, monospace;
}

.aboutInfo {
  width: 40vw;
}
.abText {
  color: #ffdf88;
  font-size: 1.5em;
  margin-bottom: 50px;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .aboutContainer {
    flex-direction: column;
    max-width: 100%;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
  .h2style {
    margin: 0px;
  }

  .abText {
    margin: auto auto 45px auto;
  }

  .aboutInfo {
    width: 80vw;
    margin: auto;
  }

  .gitImg {
    width: 275px;
    height: 325.87px;
    margin: auto;
    max-width: 100%;
  }
}
